<section ng-cloak>
  <md-content class="md-padding" layout="row" layout-wrap flex layout-align="space-around center">
    <div layout="row">
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">404 NotFound</span>
            <span class="md-subhead">Next:405 NeverFound</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            It seems that you have come to a place with wrong url.
          </p>
          <p>
            Back to Home Page or re-enter the correct url?
          </p>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</section>