/* Header */
.always-top {
  position: absolute;
  z-index: 500;
}

/* SideNav */
.sidenav {
  width: 100%;
  height: 100%;
  position: absolute;
}

.sidenav-content {
  width: 300px;
  background: #008dff;
}

.sidenav-mark {
  opacity: 0.4;
  background: grey;
}

.avator {
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 50%;
}

.avator-background {
  opacity: 0.8;
  min-height: 150px;
}

.author {
  font-size: 14px;
}

.author-description {
  font-size: 14px;
}
