<div class="category-list" layout="row" layout-align="none center">
  <span class="category-title" layout="row" layout-align="center center">
    Categories:
  </span>
</div>
<div class="md-padding">
  <md-chip-list>
    <md-chip *ngFor="let category of categoryList"
             class="category-chip"
             (click)="selectCategory(category.category)"
             [ngClass]="{
               'selected': selectedCategory==category.category,
               'non-selected': selectedCategory!=category.category
             }"
    >
      <span>
        {{category.category}}
      </span>
    </md-chip>
  </md-chip-list>
</div>

<div class="md-padding">
  <md-list-item *ngFor="let post of selectedPostList">
    <div layout="row" layout-align="start center">
      <md-icon>book</md-icon>
      <div layout="row" layout-align="center center">
        <a [routerLink]="'/post/'+post.link">
          <span>{{post.title}}</span>
        </a>
      </div>
      <span flex></span>
      <div layout="row" layout-align="center center">
        <span class="post-date">{{post.created}}</span>
      </div>
    </div>
  </md-list-item>
</div>
