.post-list {
  padding: 3px;
}

.category-list{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.category-title{
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.category-chip{
  margin-bottom:5px !important;
}

.non-selected{
  background:grey;
}

.non-selected:hover{
  cursor: pointer;
}

.selected{
  background:#1990df;
}

.selected:hover{
  cursor: pointer;
}

.post-date{
  font-size: 15px;
  opacity: 0.5;
  padding-bottom: 5px;
}